@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NewYearCard.Components.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="NewYearCard.styles.css" rel="stylesheet" />
    
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="js/babylon.js"></script>
</head>
<body>
    <component type="typeof(Root)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>